body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.activities-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.activity-card {
  margin: 1rem;
  text-align: center;
  border: solid black;
}

.activity-card img {
  width: 100%;
}

@media (min-width: 2048px) {
  .activity-card {
    width: calc(25% - 2rem);
  }
}
