.title {
  text-align: center;
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  background: #292828;
  color: yellow;
  /* border-bottom: solid yellow;
  border-top: solid yellow; */
}

.logo-img {
  display:block;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: -20px;
  width: 50%;
  padding-top: 25px;
  
}

nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  background: #292828;
  color: yellow;
  align-items: center;
}

nav button{
  height: 30px;
}

a {
  color: yellow;
}

a:hover {
  color: red;
}

.activities-header {
  display: flex;
  gap: 20px;
  background: yellow;
  justify-content: center;
  align-items: center;
  font-family:'Courier New', Courier, monospace;
}

.activities-container {
  background: #999999;
  font-family:'Courier New', Courier, monospace;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flight-card {
  display: flex;
  gap: 30px;
  background-color: lightblue;
  border: dashed #808080;
}

.flight-card img {
  max-width: 100px;
  max-height: 100px;
}

.cart-card {
  display: flex;
  gap: 30px;
  background-color: yellow;
  border: dashed #808080
}

.cart-card img {
  max-width: 100px;
  max-height: 100px;
}

.login {
  font-family:'Courier New', Courier, monospace;
  line-height: 30px;
  background-color: #292828;
  color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25em;
}

.login form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login img {
  width: 100px;
  height: 100px;
}

input[type="range"] {
  background-color: red;
  height: 30px;
}

.finish {
  background: #808080;
  font-family:'Courier New', Courier, monospace;
}

.user-finish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finish h1 {
  background: yellow;
  text-align: center;
}

.finish-card {
  border: dashed yellow;
  display: flex;
  gap: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #292828;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.activity-card {
  margin: 1rem;
  text-align: center;
  border: solid black;
  background: yellow;
}

.activity-card:hover {
  background: red;
}

.activity-card img {
  max-width: 200px;
  max-height: 200px;
}

@media (min-width: 2048px) {
  .activity-card {
    width: calc(25% - 2rem);
  }
}

/* datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;
} */

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

button {
  background-color: yellow;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  background-color: red;
}

.profile-picture {
  max-width: 100px;
  max-height: 100px;
}